body {
  min-width: 550px;
}

#header, #footer {
  background-color: lightskyblue;
  text-align: center;
  line-height: 2em;
}

#container {
  padding-left: 200px;
  padding-right: 150px;
}

#container .column {
  float: left;
}

#center {
  width: 100%;
  background-color: lightslategray; 
}

#left {
  width: 200px;
  background-color: lightcoral;
  margin-left: -100%;
  position: relative;
  right: 200px;
}

#right {
  width: 150px;
  background-color: lightsalmon;
  margin-right: -150px;
}

#footer {
  clear: both;
}