* {
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  background: purple;
  margin: 10px auto;
}

.left {
  box-sizing: border-box;
  background: aqua;
  float: left;
  width: 30%;
  color: white;
}

.right {
  box-sizing: border-box;
  background: lightcoral;;
  float: left;
  width: 70%;
  color: white;
}