* {
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  background: purple;
  margin: 10px auto;
  position: relative;
}

.left {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 30%;
  background: aqua;
}

.right {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 70%;
  background: lightcoral;
}